<div class="container mx-0">
  <div class="row px-3">
    <div class="col p-1 m-1">
      <div class="card">
        <div class="card-body">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://picsum.photos/200/80" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>SOLYP</h5>
                  <p>Enterprise Cloud for strategy</p>
                </div>
              </div>
            <div class="carousel-item">
              <img src="https://picsum.photos/200/80" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>SOLYP</h5>
                <p>Enterprise Cloud for strategy</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://picsum.photos/200/80" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>SOLYP</h5>
                <p>Enterprise Cloud for strategy</p>
              </div>
            </div>
            </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col px-0 p-1 m-1" >
      <div *ngIf="loggedInUser">
        <app-user [activeUser]="loggedInUser"></app-user>
      </div>
    </div>
  </div>
  <app-key-results></app-key-results>
</div>
