<ul class="nav nav-pills mb-3 bg-dark" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-overview-tab" data-bs-toggle="pill" data-bs-target="#pills-overview" type="button" role="tab" aria-controls="pills-overview" aria-selected="true">Overview</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-financials-tab" data-bs-toggle="pill" data-bs-target="#pills-financials" type="button" role="tab" aria-controls="pills-financials" aria-selected="false">Financials</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-resources-tab" data-bs-toggle="pill" data-bs-target="#pills-resources" type="button" role="tab" aria-controls="pills-resources" aria-selected="false">Resources</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-risks-tab" data-bs-toggle="pill" data-bs-target="#pills-risks" type="button" role="tab" aria-controls="pills-risks" aria-selected="false">Risks</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-board-tab" data-bs-toggle="pill" data-bs-target="#pills-board" type="button" role="tab" aria-controls="pills-board" aria-selected="false">Board</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-attachments-tab" data-bs-toggle="pill" data-bs-target="#pills-attachments" type="button" role="tab" aria-controls="pills-attachments" aria-selected="false">Attachments</button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-overview" role="tabpanel" aria-labelledby="pills-overview-tab"><app-overview></app-overview></div>
  <div class="tab-pane fade" id="pills-financials" role="tabpanel" aria-labelledby="pills-financials-tab">...</div>
  <div class="tab-pane fade" id="pills-resources" role="tabpanel" aria-labelledby="pills-resources-tab">...</div>
  <div class="tab-pane fade" id="pills-risks" role="tabpanel" aria-labelledby="pills-risks-tab">...</div>
  <div class="tab-pane fade" id="pills-board" role="tabpanel" aria-labelledby="pills-board-tab">...</div>
  <div class="tab-pane fade" id="pills-attachments" role="tabpanel" aria-labelledby="pills-attachments-tab">...</div>
</div>